<template>
    <div class="home">
        <header class="header">
           <div class="title">{{home}}</div>
           <!-- <button class="login btn btn-primary btn-sm" @click="toLogin">登录</button> -->
           <router-link to="/login"  class="btn btn-primary btn-sm">登录</router-link>
        </header>
        <article class="comment">
            <div class="comment-user">
                <img src="../../assets/logo.png" alt="" class="img-circle" width="50px">
            </div>
            <div class="com-text">
                <textarea class="form-control" rows="3"></textarea>
                <button class="publish btn btn-sm btn-info" @click="publish">发表</button>
            </div>
        </article>
    </div>
</template>
<script>
//import login from '@/components/login'
export default {
    data(){
        return {
            home:'首页'
        }
    },
  
    methods:{
        toLogin(){
        
        },
        publish(){

        }
    }
}
</script>
<style scoped>
.header{
    padding: 3px 2px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment{
        display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 0px 2px;
}
.com-text{
    flex: 1
}
</style>


