<template>
    <div id="login" class="login">
      <button class="btn btn-sm btn-default goBack" style="float:left" @click="goBack">&lt;&lt;</button>
      <form class="form-horizontal">
         <p class="form-title">用户登录</p>
        
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">用户名</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputEmail3" placeholder="用户名" v-model="username">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3"  placeholder="密码" v-model="password">
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" class="btn btn-primary" @click="login">登录</button>
    </div>
  </div>
</form>
    </div>
</template>
<script>
export default {
  data() {
      return {
        username:"",
        password:""
      }
  },
  methods:{
      login(){
        if(this.username==""||this.password==""){
          alert('请填写用户名和密码')
          return;
        }
        this.$http.request('/login',{
          username:this.username.trim(),
          password:this.password.trim()
        }).then(res=>{
          let res1 =res.data.message
        
          if(res1.success){
              localStorage.setItem('token',res1.token)
             // alert(res1.msg)
             this.$router.push('/')
          }else{
              alert(res1.msg)
          }
        })
        return false;
      },
      goBack(){
        this.$router.go(-1)
      }
  }
};
</script>
<style>
.login {
  padding: 20px;
}
</style>

