<template>
  <div id="app">
  
    <router-view/>
  </div>
</template>

<script>
import font from './utils/font.js'
export default {
  name: 'App',
  created(){
   /*  (function(){ 
    function resizeBaseFontSize(){ 
      var rootHtml = document.documentElement,
          deviceWidth = rootHtml.clientWidth; 
      if(deviceWidth > 640){ 
         deviceWidth = 640;  
      }  
      rootHtml.style.fontSize = deviceWidth / 7.5 + "px";  
   }  
   resizeBaseFontSize();  
   window.addEventListener("resize", resizeBaseFontSize, false);  
   window.addEventListener("orientationchange", resizeBaseFontSize, false);  
})();   */
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
 
}
</style>
